<% layout('layout') -%>
<div class="container" id="navbar-gap">
	<!-- Example row of columns -->
	<div class="row">
		<div class="col-lg-6 col-md-offset-3"">
			<p class="text-justify">You see this screen because you have not logged in yet. Use the drop-down menu on the top right to signup/login into the application. Once logged in use the menu again to logout of the application. The idea behind this application is to demonstrate login functionality in NodeJS as such I have removed other aspects of the application to make it easy to understand.</p>
		</div>
	</div>
</div>